// colors
$color-1: #2b244d;
$color-2: #ee77b4;
$color-3: #595ef5;
$color-4: #09032f;
$color-5: #292b86;
$color-6: #c0bdd8;
$color-7: #707070;
$color-8: #3e1e67;
$color-9: #fb8889;
$color-10: #7978f0;

// fonts
$font-1: "Hind", sans-serif;
$font-2: "Titillium Web", sans-serif;
